body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 60px;
}

#person {
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

#person-img {
  width: 220px;
  border-radius: 12px; /* optional, gibt weichere Kanten */
  transition: transform 0.1s ease;
}

#person.hit #person-img {
  transform: translateX(20px) rotate(5deg);
}
#person.miss #person-img {
  transform: translateX(-20px) rotate(-5deg);
}
